*.png
Project1/09252018JupyterNotebookSnapshot.pdf
Project1/09272018JupyterNotebookSnapshot.pdf
Project1/Project1Proposal.pdf
Project2/Appendices.pdf
Project2/Appendices.docx
Project2/RectifierComputationalEssayPart1.pdf
Project2/Michael's Equation Derivation.pdf
Project2/notebook.tex
